:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #ffffff;
  --text: #ffffff;
  --accentOne: #ffffff;
  --accentTwo: #ffffff;
  --accentThree: #ffffff;
}

@media (max-width: 720px) {
  .mainInfo {
    flex-wrap: "wrap";
    flex-direction: column-reverse;
  }

  .mainInfo > * {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid var(--text);
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 800;
  font-family: inherit;
  background-color: var(--background);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--background);
  background-color: var(--text);
  color: var(--background);
}

.navbar {
  display: flex;
  align-items: center;
  border-style: solid;
}

.navbar-name {
  margin-right: auto;
}

.colour-container {
  display: flex;
  border-style: solid;
}
.colour-example {
  height: 200px;
  width: 20%;
}

#c-1 {
  background-color: var(--background);
}
#c-2 {
  background-color: var(--text);
}
#c-3 {
  background-color: var(--accentOne);
}
#c-4 {
  background-color: var(--accentTwo);
}
#c-5 {
  background-color: var(--accentThree);
}

/* .education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.education-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1400px;
  margin: auto;
  gap: 1rem;
}
.education-tile {
  /* min-width: 200px;
  max-width: 400px; */

  border-style: solid;
  aspect-ratio: 1/1;
  margin: 0.5rem;

  font-size: 1.5rem;
}

.education-tile:hover {
  background-color: var(--text);
  color: var(--background);
}

.education-tile > *,
.education-tile {
  text-align: start;
  padding: 5px;
}

/* .skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.skill-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}

.skill-item {
  border-style: solid;
  width: 170px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-item:hover,
.skill-item > *:hover {
  background-color: var(--text);
  color: var(--background);
}

.skill-item svg {
  font-size: 6rem;
}
